@charset "shift_jis";
/* 
@Template001@ÌX^C
----------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------

@@úÝè

  ----------------------------------------------------------------------------------------------------------*/

*{ margin:0; padding:0;}
img{ border:0;}
html{overflow-y: scroll;}
table,div{	margin:auto;}

/*tHgÝè*/
body {
	color:#666;
	font-family:"Century Gothic","qMmpS Pro W3", "Hiragino Kaku Gothic Pro", "CI", Meiryo, Osaka, "lr oSVbN", "MS PGothic", sans-serif;			
	_font-family:"Century Gothic","lr oSVbN", Osaka, "qMmpS Pro W3", sans-serif;		
	font-size:80%;
}
p,li{
	}
th,td{
	_font-size:80%;
}
a{	color:#0CF;@text-decoration:underline;	}
a:hover{
	color:#FC0;
	text-decoration:underline;
	}
#Header #Logo p{
	margin:10px;
	font-size:20px;
	font-weight:normal;
	_font-weight:bold;
	font-weight:bold;
	}

/*----------------------------------------------------------------------------------------------------------

@@x[XCAEg

  ----------------------------------------------------------------------------------------------------------*/

body{
	text-align:center;
	}

#Bg{
	background:url(bg_header_top.jpg) repeat-x top;
	padding:12px 0 0 0;
}
#Container{
	width:920px;
	text-align:left;
	}
#Container:after{
    content: "";
    display: block;
    clear: both;
}


/*wb_[
-----------------------------------------------------------------------*/
#Header{}
#Header:after{
    content: "";
    display: block;
    clear: both;
	}	
#Header h1{
	color:#666;
	font-weight:normal;
	font-size:11px;	
	padding:18px 0 0 0px;
	height:20px;
	_height:40px;	
	}
#Header #Logo{
	width:500px;
	float:left;
	height:80px;	
	}
#Header #Logo p{
	margin:15px 10px 10px 0;
	font-size:23px;
	font-weight:normal;
	_font-weight:bold;
	font-family:"Century Gothic","qMmpS Pro W3", "Hiragino Kaku Gothic Pro", "CI", Meiryo, Osaka, "lr oSVbN", "MS PGothic", sans-serif;
	_font-family:"Century Gothic","lr oSVbN", Osaka, "qMmpS Pro W3", sans-serif;	
	color:#333;	
	}
#Header #Logo p a{
	text-decoration:none;
	color:#333;
	}
#Header #Logo p a:hover{}	
#Header #LogoRight{
	float:right;
	width:300px;
	_width:320px;
	padding:2px 0px 0 0 ;
	}
#Header #LogoRight .infoBox{
	font-size:18px;
	font-family:"Century Gothic";
	text-align:right;
	margin:0 0 10px 0;
}
#Header #LogoRight .infoBox span{
	font-size:12px;
}
#Header #LogoRight #upMenu{
	clear:both;
	height:26px;	
	}
#Header #LogoRight #upMenu ul{
	float:right;
	list-style-type:none;
	}
#Header #LogoRight #upMenu ul li{
	float:left;
	margin:0 0 0 5px;
	}

#Header #LogoRight #upMenu ul li a{
	display:block;
	padding:0px 10px 0px 10px;
	line-height:20px;	
	text-decoration:none;
	border:1px solid #DDD;
	color:#333;
	font-size:11px;
	}
	
#Header #LogoRight #upMenu ul li a:hover{
	background-color:#333;
	color:#FFF;
	}
	
/*j[
-----------------------------------------------------------------------*/
#Menu{
	clear:both;
	height:58px;	
	margin:0 0 10px 0;
	width:918px;
	}
#Menu:after{
    content: "";
    display: block;
    clear: both;
}

#Menu ul{
	list-style-type:none;
	height:56px;
	_height:58px;
	padding:1px;
	}
#Menu ul li {
	position: relative;
	float:left;
	text-align:center;
	height:56px;
}
#Menu ul li.on{}
#Menu ul li a {
	display:block;
	color:#333;
	font-size:14px;
	margin:0 0 0 0px;
	text-decoration:none;
	height:56px;
	line-height:56px;
	font-family:"qMmpS Pro W3", "Hiragino Kaku Gothic Pro","CI", Meiryo, Osaka, "lr oSVbN", "MS PGothic", sans-serif;
	border-left:1px solid #CCC;	
}
#Menu ul li.last{}

#Menu ul li.last a{
	border-right:1px solid #CCC;
	}
#Menu ul li a:hover{
	background-color:#CCC;
	}
#Menu ol{
	width:100%;
	list-style-type:none;
	position: absolute;
	display:none;	
	top:56px;
	left:0px;
	z-index:3;
	background-color:#FFF;
	border:1px solid #CCC;	
}
#Menu ol li{
	float:none;
	border-width:0;
	height:auto;
	}
#Menu ol li a{
	text-align:left;
	margin:0;
	padding:10px 0px 10px 0px;
	text-align:center;
	font-size:11px;
	line-height:1.1em;
	height:auto;
	border-bottom:1px solid #CCC;
	}	
#Menu ol li a:hover{
	background-color:#CCC;
	color:#FFF;
	}
#Menu ol li.last a{
	border-width:0;
	}
#Menu ol li.last a:hover{}


	
/*tb^[
-----------------------------------------------------------------------*/

#Footer{
	clear:both;
	height:100px;
	position:relative;
	}
#Footer #footMenu{
	border-top:1px solid #DDD;	
	position:absolute;
	top:10px;
	left:0px;
	width:922px;
	font-size:11px;
	}
#Footer #footMenu:after{
    content: "";
    display: block;
    clear: both;
}
#Footer #footMenu ul{
	margin:10px 0 0 0 ;
	list-style-type:none;
}
#Footer #footMenu ul li{
	float:left;
}
#Footer #footMenu ul li a{
	color:#999;
	font-size:11px;
	text-decoration:none;
	padding:0 4px 0 4px;
	}	
#Footer #footMenu a:hover{
	text-decoration:underline;
}	

#Footer #copyRight{
	font-family:"Century Gothic";
	position:absolute;
	font-size:10px;
	top:40px;
	left:5px;
}
#Footer #copyRight a{
	color:#666;
	text-decoration:none;
}
#Footer #copyRight a:hover{
	color:#333333;
}
#Footer #tplCopy{
	position:absolute;
	top:56px;
	left:0px;
	}
#Footer #tplCopy p{
	float:left
}
#Footer #tplCopy p a{
	display:block;
	text-indent:-9999px;
}
#Footer #tplCopy #design a{
	background:url(bn_decoboko.gif) no-repeat;
	width:79px;
	height:27px;
	}
#Footer #tplCopy #sp a{
	background:url(bn_sp.gif) no-repeat;
	width:26px;
	height:27px;	
	}	


/*----------------------------------------------------------------------------------------------------------

@@Rec

----------------------------------------------------------------------------------------------------------*/
#ContentBox{
	clear:both;
	padding:0 0 20px 0;
	zoom:100%;
	}
#ContentBox:after{
    content: "";
    display: block;
    clear: both;
	}
	
#Main{}

	
/*QJ
-----------------------------------------------------------------------*/
.col2 #Main{
	float:right;
	width:700px;
	padding:0 0px 0 0px;
	}

.col2 #Sidebar{
	float:left;
	width:200px;
	width:198px;	
	}
.col2 #Sidebar .subMenu{
	background-color:#DDD;
	border:1px solid #DDD;
	margin:0 0 20px 0;
	}
.col2 #Sidebar .subMenu h3{
	padding:5px;
	margin:0;
	text-align:left;
	font-size:10px;
	}
.col2 #Sidebar .subMenu ul{
	list-style-type:none;
	display:block;
	}
.col2 #Sidebar .subMenu ul li{
	margin:0 0 1px 0;
	}
.col2 #Sidebar .subMenu ul li a{
	background-color:#FFF;	
	color:#000;
	display:block;
	padding:8px 5px 8px 5px;
	text-decoration:none;
	}
.col2 #Sidebar .subMenu ul li a:hover{
	color:#FFF;
	background-color:#666;
	}	

.col2 #Sidebar .bnr{
	margin:0 0 5px 0;}

/*----------------------------------------------------------------------------------------------------------

©oµ

----------------------------------------------------------------------------------------------------------*/
h2,h3,h4,h5,h6{
	clear:both;
}
h2{
	height:80px;
	line-height:80px;
	font-weight:normal;
	_font-weight:bold;
	font-size:20px;
	color:#333;
	background-color:#EEE;
	padding:0 0 0 15px;
	font-weight:normal;
	margin:0px 0px 10px 0px;	
	letter-spacing:1px;
	}
#Main h3{
	font-size:18px;	
	color:#000;	
	padding:10px 0px 5px 0px;
	margin:2px 0 8px 0;
	}
.col2 #Main h3{	}
#Main h4{
	font-size:19px;
	line-height:30px;
	font-size:15px;
	padding:0;
	margin:7px 0 5px 0;
	border:dotted #666;
	border-width:0 0 1px 0;
	}
#Main h5{
	background-color:#241C15;
	font-size:13px;
	padding:2px;
	margin:6px 0 5px 0;
	color:#FFF;
	}
#Main h6{
	color:#FC0;
	font-size:12px;
	margin:5px 0 4px 0;
	color:#000;
	}
/*Óð«iXgj*/

#Main ul{
	margin:0 0 20px 20px;
	list-style-type:disc;}
#Main ul li{
	margin:0 0 8px 0;
	line-height:1.6em;
	padding:2px 0 0 0px;
	}
#Main ol{
	margin:0 0  20px 30px;
	list-style-type:decimal;}
#Main ol li{
	margin:0 0 8px 0;
	line-height:1.6em;
	}

#Main blockquote{
	background-color:#EEE;
	padding:20px;
	margin:5px 0 10px 0px ;
	}
/*----------------------------------------------------------------------------------------------------------

@@»Ì¼ÄpZN^

----------------------------------------------------------------------------------------------------------*/

/*tHg*/
.txt{}
.txt p{
	line-height:1.6em;
	margin:0 0 15px 0;}

.B{ font-weight:bold;}
.noB{ font-weight:normal;}
.tBK{ color:#000; }
.tBW{ color:#630; }
.tRD{ color:#F00; }
.tBL{ color:#06C; }
.tGR{ color:#393; }
.tYW{ color:#FC0; }
.tOR{ color:#F60; }
.tPK{ color:#F39; }
.SS{ font-size:10px; }
.S{ font-size:110%; }
.L{ font-size:x-large;}
.LL{ font-size:xx-large;}


/*zuECAEg*/
  
.center{ text-align:center; }
.left{ text-align:left; }
.right{ text-align:right; }

.clrFix{
	zoom:100%;
	clear:both;
	}
.clrFix:after{
    content: "";
    display: block;
    clear: both;
}

/*e[uZbg*/
/**/
.tableA,
.tableB{
	border-collapse:collapse;
	width:100%;
	margin:0 0 10px 0;
	table-layout:fixed;
	}

.tableA th,
.tableB th{
	padding:5px;		
	}
.tableA td,
.tableB td{
	padding:5px;
	}

.tableA{}
.tableA th{
	border:1px solid #DDD;
	background-color:#EEE;
	text-align:center;
	line-height:1.4em;
	font-weight:normal;
	}
.tableA td{
	border:1px solid #DDD;
	line-height:1.4em;
	}
/**/
.tableB{}
.tableB th{
	border: dotted #666;
	border-width:0 1px 0 0;	
	text-align:right;
	vertical-align:top;
	line-height:1.6em;
	font-weight:normal;
	}
.tableB td{
	border: dotted #666;
	border-width:0 0 0 1px;	
	line-height:1.6em;
	padding:5px 5px 20px 5px;
	
	}
/**/
.pic_txt,
.pic_txt2{
	zoom:100%;
	clear:both;
	margin:0 0 10px 0;
	padding:5px;	
}
.pic_txt:after,
.pic_txt2:after{
    content: "";
    display: block;
    clear: both;
}
	
	
	
	
.pic_txt{
	padding:5px;
	}
.pic_txt .pic{
	float:left;
	width:200px;
	}
.pic_txt .txt{
	float:right;
	width:680px;
	text-align:left;
	}
.col2 .pic_txt .pic{
	float:left;
	width:200px;
	}
.col2 .pic_txt .txt{
	float:right;
	width:460px;
	}
/**/		
.pic_txt2{}

.pic_txt2 .pic{
	width:160px;
	float:left;
	}
.pic_txt2 .txt{
	width:720px;
	float:right;
	text-align:left;
	font-size:80%;
	}
.col2 .pic_txt2 .pic{
	width:160px;
	float:left;
	}
.col2 .pic_txt2 .txt{
	width:500px;
	float:left;
	}
/**/  




#Main img{ 	border:1px solid #DDD;
	padding:4px;}
#Main a img { 
	border:1px solid #DDD;	padding:4px;	}
#Main a:hover img { 	border:1px solid #FC0;	padding:4px;}

/*}EXI[o[æ*/
.hvimg a:hover img{
	filter:alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;	
	}




.bnrSps_line{
	margin:0 0 10px 0;}
.bnrSps_line ul{
	list-style-type:none;}
.bnrSps_line ul li{
	float:left;
	margin:0 10px 0 0;}	
.bnrSps_line ul li a:hover img{
	filter:alpha(opacity=75);
	-moz-opacity:0.75;
	opacity:0.75;	
	}	
/**/
#Main ul.photo_list{
	display:block;
	list-style-type:none;
	clear:both;
	zoom:100%;
	width:920px;
	margin:0 0 14px 0;
	}
#Main ul.photo_list:after{
    content: "";
    display: block;
    clear: both;
	}	
#Main ul.photo_list li{
	float:left;
	margin:0 14px 0 0;
	background:none;
	padding:0;
	}
#Main ul.photo_list li.last{
	margin-right:0;
	}

	
/**/

.linkList{
	margin:10px;
	}
.linkList dl{ }
.linkList dt{
	font-size:13px;
	color:#F90;
	font-family:"Century Gothic","CI", Meiryo, "qMmpS Pro W3", "Hiragino Kaku Gothic Pro";		
	}
.linkList dt a{
	display:block;
	color:#999;
	}
.linkList dt a:hover{
	background-color:#FC0;
	color:#000;}
.linkList dd{
	font-size:11px;
	background:url(bg_line.gif) repeat-x bottom;
	padding:2px 0 5px 0px;
	margin:0px 0 20px 0 ;}







.pagetop{
	float:right;
	clear:both;
	margin:0 10px 0 0;
}
.pagetop a{
	display:block;
	background:url(btn_page_top.gif) no-repeat;
	text-indent:-9999px;
	width:84px;
	height:24px;
}
.pagetop a:hover{
     filter:alpha(opacity=65);
     -moz-opacity:0.65;
     opacity:0.65;
	 }
	
	

/*----------------------------------------------------------------------------------------------------------

@@y[WÆ©

----------------------------------------------------------------------------------------------------------*/


/*gbvy[W
-----------------------------------------------------------------------*/
#HOME{}
#mainImage{
	margin:0 0 20px 0;
	}
#mainImage p{
	width:910px;}
#mainImage p img{
	padding:3px;
	}	
#HOME h2{
	font-size:23px;
	height:30px;
	line-height:30px;
	font-weight:normal;
	margin:0 0 5px 0;
	padding-left:5px;
	background:none;
	}
#infoLine{
	background:url(bg_home_main.jpg) repeat-y;
	}
#Info{
	float:right;
	width:350px;
	margin:0 0 30px 0;
	}
#Info #scroll{
	margin:0 0 6px 0;
	}
#Info #scroll span{
	display:block;
	padding:5px 5px 2px 5px;
	font-family:"Century Gothic";
	color:#000;
}
#Info #scroll p{
	display:block;
	padding:5px 5px 3px 5px;
	margin:0 0 3px 0;
	line-height:1.7em;	
	}

#Pickup{
	float:left;
	width:530px;

	}
#Pickup .clrFix{
	margin:0 0 6px 0;
	padding:5px;
}
#Pickup .pic{
	float:left;
	width:150px;
	}
#Pickup .txt{
	margin:0 0 0 160px;
	line-height:1.7em;
	}



/*¨â¢í¹
-----------------------------------------------------------------------*/
#contact{}
#contact span{ color:#F00;}


#contact{}
#contact table{
	width:100%;
	table-layout:fixed;	
	margin:0;
	border-collapse:collapse;
	}
#contact table th{
	vertical-align:top; padding:14px; text-align:right;
	border:1px solid #DDD;
	background-color:#EEE;
	width:30%;
	}
#contact table th span{font-size:12px; color:#F00;  font-weight:normal;}
#contact table td{ 
	width:70%;
	padding:10px;
	border:1px solid #DDD;
	background-color:#FFF;	
	}
#contact input{ line-height:20px; }
#contact input.txtbox{ margin:2px; /*border:2px solid #333;*/}
#contact .sSize{ width:80px; height:20px;}
#contact .mSize{ width:180px; height:20px;}
#contact .wSize{ width:350px; height:20px;}
#contact .radio{}
#contact .txtarea{ width:350px; height:180px; 	/*border:2px solid #333;*/}
#contact .formBtn{
	text-align:center;
	}
#contact .formBtn input{
	padding:5px 20px 5px 20px;
	font-size:14px;
	cursor:pointer;
	}
#contact input.focus,
#contact textarea.focus{
	background-color:#EEE;
}

/*----------------------------------------------------------------------------------------------------------

óüp

----------------------------------------------------------------------------------------------------------*/
@media print {
	
	.no_print{ display:none;}

}



